* {
    padding: 0;
    margin: 0;
}

h1 {
    margin-bottom: 10px;
    font-size: xx-large;
}

ul {
    margin-left: 20px;
}

.container {
    height: 100%;
    width: 100%;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}